<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Creator</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link
      rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
</head>

<body class="responsive-img">
    <div class="wrapper container">
        
        <nav class="transparent">
        <header class="nav-wrapper" > 
            <div>
                <a href="/" class="left">Welcome to Character Creator</a>
            </div>
            <div class="right">
                <a href="/login">Login</a>

                <a href="/items">Items</a>

                

            </div>
            {{!-- <nav>
                <a href="/sign-up">signup</a>
            </nav> --}}
        </header>
        </nav>
        <main>
            {{{ body }}}
        </main>
        <footer>
            GitHub Links: @shanemcf,
        </footer>
    </div>

</body>

</html>