
<header>
    Character Creation 
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</header>


<br>
<div class="stats">
Strength
<section class="atr">
    <form action="#">
  <label for="quantity"></label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  
</form>
Dexterity
<section class="atr">
    <form action="#">
  <label for="quantity"></label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  
</form>
Constitution
<section class="atr">
    <form action="#">
  <label for="quantity"></label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  
</form>
Intelligence
<section class="atr">
    <form action="#">
  <label for="quantity"></label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  
</form>
Wisdom
<section class="atr">
    <form action="#">
  <label for="quantity"></label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  
</form>
Charisma
<section class="atr">
    <form action="#">
  <label for="quantity"></label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  
</form>
</section>
</div>

<div class="inspiration">
    <form action="#">
  <label for="quantity">inspiration</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  {{!-- <input type="submit"> --}}
</div>
<br>
<div class="Proficiencybonus">
    <form action="#">
  <label for="quantity">Proficiency Bonus</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  {{!-- <input type="submit"> --}}
</div>
<br>

<div class="saves">
    -Saving Throws-
    <section class="atr">
    <form action="#">
  <label for="quantity">Strength</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  {{!-- <input type="submit"> --}}
  <section class="atr">
    <form action="#">
  <label for="quantity">Dexterity</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Constitution</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Intelligence</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Wisdom</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Charisma</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
</form>
</div>
<br>
<div class="skills">
    --Skills--
    <section class="atr">
    <form action="#">
  <label for="quantity">Acrobatics</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Animal Handling</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Arcana</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Athletics</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Deception</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">History</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Insight</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Intimidation</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Investigation</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Medicine</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Nature</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Perception</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Performance</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Persuasion</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Religion</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Sleight Of Hand</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Stealth</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Survival</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
</div>

<div class="stats2">
    <section class="atr">
    <form action="#">
  <label for="quantity">Armor Class</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Initiative   </label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Speed</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Current Hit Points</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Temporary Hit Points</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
  <section class="atr">
    <form action="#">
  <label for="quantity">Hit Dice</label>
  <input type="number" id="quantity" name="quantity" min="1" max="30">
</div>

<div class="traits">
    <form id="personality">
  <label id="personality">Personality Traits</label><br>
  <input type="text" id="personality" name="fname" value="">
  <form id="personality">
<br>
  <label id="personality">Ideals</label><br>
  <input type="text" id="personality" name="fname" value="">
  <form id="personality">
<br>
  <label id="personality">Bonds</label><br>
  <input type="text" id="personality" name="fname" value="">
  <form id="personality">
      <br>
  <label id="personality">Flaws</label><br>
  <input type="text" id="personality" name="fname" value="">
</div>

<div class="features">
    <form id="personality">
  <label id="personality">Features and Traits</label><br>
  <input type="text" id="features" name="fname" value="">
</div>