<div>
    
        <a href="./character" type="submit">Create Character</a>
    </div>


<div class="center">You are on the homepage</div>

<div>Welcome, 
    <p id="userName"></p>
</div>







<script src="/javascript/home.js"></script>


