<form class="login-form">
    <div>
        <label for="item-type">Item:</label>
        <input type="text" id="item-type" />
    </div>
    <div>
        <label for="attack">attack:</label>
        <input type="text" id="item-attack" />
    </div>
     <div>
        <label for="deffense">Deffense:</label>
        <input type="text" id="item-deffense" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<article class="post">
  <div class="title">
    <p>{{itemtype}}</p>
    <p>{{itemD}}</p>
    <p>{{itemD}}</p>
  </div>
</article>